<h1>Battle!</h1>
<h2>Are ya sure you're ready? </h2>
<h3>Enter your names if you've got the guts!!</h3>
<form name="Player name" action="/names" method="post">
  P1 Name: <input type="text" name="p1_name">
  P2 Name: <input type="text" name="p2_name">

  <input type="submit" name="Submit" value="Submit">
</form>
